data/
output/
.venv/
.vscode/
.idea/
*.pyc
data.pickle
data_2.pickle
test.onnx
async/
**__pycache__**
engines/*
work_dir/
amirstan_plugin/
torch2trt_dynamic/
build/
*.so
*.plan
output.txt
proposals.txt
**/__pycache__/
cache_dense/
.neptune/
mmsegmentation.egg-info/